.register {
  display: flex;
  height: 495px;
}
.register ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-width: 20%;
  background-color: #B4B572;
  height: 100%;
  overflow: auto;
}
.register-description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.register li a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

.register li a.active {
  background-color: #17202A;
  color: white;
}

.register li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
